<div class="card">
  <div class="card-body">
    <blockquote class="blockquote">
      <p>{{ quote().text }}</p>
      <footer class="blockquote-footer">
        {{ quote().author ?? 'Okänd' }}
      </footer>
    </blockquote>
    <div class="d-flex gap-2">
      <a [routerLink]="['/quotes/edit', quote().id]" class="btn btn-outline-secondary">
        <i class="fa-solid fa-pen"></i>
        Redigera
      </a>
      <button type="button" class="btn btn-outline-danger" (click)="delete.emit(quote())">
        <i class="fa-solid fa-trash-can"></i>
        Radera
      </button>
    </div>
  </div>
</div>
