<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ book().title }}</h5>
    <p class="card-text text-body-secondary">{{ book().author }}</p>
    <p class="card-text text-body-secondary">{{ book().publicationDate }}</p>
    <div class="d-flex gap-2">
      <a [routerLink]="['/books/edit', book().id]" class="btn btn-outline-secondary">
        <i class="fa-solid fa-pen"></i>
        Redigera
      </a>
      <button type="button" class="btn btn-outline-danger" (click)="delete.emit(book())">
        <i class="fa-solid fa-trash-can"></i>
        Radera
      </button>
    </div>
  </div>
</div>
